auto-install-peers=true
strict-peer-dependencies=false
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=@sentry/cli
only-built-dependencies[]=esbuild
only-built-dependencies[]=prisma
only-built-dependencies[]=sharp
only-built-dependencies[]=tree-sitter
only-built-dependencies[]=tree-sitter-json
only-built-dependencies[]=@tree-sitter-grammars/tree-sitter-yaml
only-built-dependencies[]=unrs-resolver
only-built-dependencies[]=core-js-pure
only-built-dependencies[]=@scarf/scarf
